{% extends 'messenger/base.html' %}


{% block content %}

<div class="container-fluid">
  <p class="pt-3 px-2">Сервис Email рассылок</p>
  <div class="d-flex justify-content-between align-items-center px-2 pb-2 mb-3">
    <h1 class="h3">Главная</h1>
    {% if not user.is_authenticated %}
      <a href="{% url 'users:login' %}" class="btn btn-outline-warning">Вход</a>
    {% endif %}
  </div>

  <div class="row g-4">
    <!-- Общее количество рассылок -->
    <div class="col-md-4">
      <div class="card border-start border-light border-5 shadow-sm h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-muted">Всего рассылок</h5>
          <p class="card-text display-6 fw-bold mt-auto align-self-end">{% if user.is_authenticated %}{{ total_campaigns }}{% else %}---{% endif %}</p>
        </div>
        <a href="{% url 'messenger:mailing_list' %}" class="stretched-link"></a>
      </div>
    </div>

    <!-- Активные рассылки -->
    <div class="col-md-4">
      <div class="card border-start border-light border-5 shadow-sm h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-muted">Активные рассылки</h5>
          <p class="card-text display-6 fw-bold mt-auto align-self-end">{% if user.is_authenticated %}{{ active_campaigns }}{% else %}---{% endif %}</p>
        </div>
        <a href="{% url 'messenger:mailing_running' %}" class="stretched-link"></a>
      </div>
    </div>

    <!-- Уникальные получатели -->
    <div class="col-md-4">
      <div class="card border-start border-light border-5 shadow-sm h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-muted">Уникальных получателей</h5>
          <p class="card-text display-6 fw-bold mt-auto align-self-end">{% if user.is_authenticated %}{{ unique_recipients }}{% else %}---{% endif %}</p>
        </div>
        <a href="{% url 'messenger:recipients_list' %}" class="stretched-link"></a>
      </div>
    </div>
  </div>

  <hr class="my-4">

<!--  &lt;!&ndash; Таблица последних рассылок &ndash;&gt;-->
<!--  <h2 class="h4 mb-3">Недавние рассылки</h2>-->
<!--  {% if latest_campaigns %}-->
<!--    <div class="table-responsive">-->
<!--      <table class="table table-hover align-middle">-->
<!--        <thead class="table-light">-->
<!--          <tr>-->
<!--            <th scope="col">Название</th>-->
<!--            <th scope="col">Дата создания</th>-->
<!--            <th scope="col">Статус</th>-->
<!--            <th scope="col">Количество получателей</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          {% for campaign in latest_campaigns %}-->
<!--            <tr>-->
<!--              <td>{{ campaign.name }}</td>-->
<!--              <td>{{ campaign.created_at|date:"d.m.Y H:i" }}</td>-->
<!--              <td>-->
<!--                {% if campaign.status == 'Запущена' %}-->
<!--                  <span class="badge bg-success">{{ campaign.status }}</span>-->
<!--                {% elif campaign.status == 'Остановлена' %}-->
<!--                  <span class="badge bg-secondary">{{ campaign.status }}</span>-->
<!--                {% else %}-->
<!--                  <span class="badge bg-warning text-dark">{{ campaign.status }}</span>-->
<!--                {% endif %}-->
<!--              </td>-->
<!--              <td>{{ campaign.recipients.count }}</td>-->
<!--            </tr>-->
<!--          {% endfor %}-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  {% else %}-->
<!--    <p>Нет недавних рассылок.</p>-->
<!--  {% endif %}-->
</div>
{% endblock %}
