{% extends 'messenger/base.html' %}

{% block content %}

<div class="container-fluid">
  <p class="pt-3 px-2">Ручная отправка сообщений</p>
  <div class="d-flex justify-content-between align-items-center px-2 pb-2">
        <h1 class="h3">{{ context_name }}</h1>
        <a href="{% url 'messenger:create_msg' %}" class="btn btn-warning">Написать</a>
  </div>
  <hr class="my-2">
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="d-flex gap-3 justify-content-center align-items-center my-2">
            {% if is_draft_page %}
                <a href="{% url 'messenger:sent_msg' %}" class="btn btn-success">Отправленные</a>
                <a href="{% url 'messenger:draft_msg' %}" class="btn btn-success disabled">Черновик</a>
            {% elif is_sent_page %}
                <a href="{% url 'messenger:sent_msg' %}" class="btn btn-success disabled">Отправленные</a>
                <a href="{% url 'messenger:draft_msg' %}" class="btn btn-success ">Черновик</a>
            {% endif %}
        </div>
    </div>
    <div class="col-4"></div>
</div>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for message in all_messages %}
      <div class="col">
        <div class="card shadow-sm h-100 position-relative">
          <div class="card-body d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="card-title mb-0">{{ message.topic }}</h5>

              <!-- Выпадающее меню -->
                {% if messages_draft %}
                    <div class="dropdown">
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'messenger:detail_msg' message.pk %}">Просмотр</a></li>
                        <li><a class="dropdown-item" href="{% url 'messenger:update_msg' message.pk %}">Редактировать</a></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'messenger:delete_msg' message.pk %}">Удалить</a></li>
                      </ul>
                    </div>
                {% elif messages_sent %}
                    <a href="{% url 'messenger:detail_msg' message.pk %}" class="stretched-link"></a>
                {% endif %}

            </div>

            <p class="card-text text-muted flex-grow-1">{{ message.body }}</p>
          </div>
          <!-- Ссылка на просмотр по всей карточке -->
<!--          <a href="#" class="stretched-link"></a>-->
        </div>
      </div>
    {% empty %}
      <div class="col">
        {% if is_draft_page %}
            <div class="alert alert-info">Черновик пуст</div>
        {% elif is_sent_page %}
            <div class="alert alert-info">Нет активных сообщений</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
