{% extends 'messenger/base.html' %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h2>{{ view.title }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
            {% if object %}
                <button type="submit" class="btn btn-warning">Сохранить</button>
            {% else %}
                <button type="submit" class="btn btn-warning">Создать</button>
            {% endif %}
        </form>
        <a href="{% url 'messenger:recipients_list' %}">
            <button type="submit" class="btn btn-secondary mt-2">Назад</button>
        </a>

    </div>
    <div class="col-2"></div>
</div>

{% endblock %}